[submodule "modules_v4/albums-manager"]
	path = modules_v4/albums-manager
	url = git@github.com:qwercik/webtrees-albums-manager.git
[submodule "modules_v4/faces"]
	path = modules_v4/faces
	url = git@github.com:qwercik/webtrees-faces.git
